{% extends "template.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Utilisateurs</h3>
                </div>
                <table class="table table-hover table-striped">
                    <tr>
                        <th>#</th>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Nom d'utilisateur</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.getUserId }}</td>
                            <td>{{ user.getUserFirstname }}</td>
                            <td>{{ user.getUserLastname }}</td>
                            <td>{{ user.getUserLogin }}</td>
                            <td>
                                <a href="{#{ path('edit_user', {id: user.userId}) }#}" class="btn btn-primary btn-block"
                                   title="Modifier l'utilisateur">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-block" title="Supprimer l'utilisateur"
                                   data-toggle="modal" data-target="#modal-confirmation"
                                   data-user_login="{{ user.getUserLogin }}"
                                   data-delete_user_path="{{ path('delete_user', {id: user.userId}) }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Instances Secret Santa</h3>
                </div>
                <table class="table table-hover table-striped">
                    <tr>
                        <th>#</th>
                        <th>Année</th>
                        <th>Nom</th>
                        <th>Hash</th>
                    </tr>
                    {% for instance in instances %}
                        <tr>
                            <td>{{ instance.getInstanceId }}</td>
                            <td>{{ instance.getInstanceYear }}</td>
                            <td>{{ instance.getInstanceName }}</td>
                            <td>{{ instance.getInstanceHash }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="panel-body">
                    <form method="post" action="{{ path('administration_new_instance_post') }}">
                        <div class="form-group">
                            <label for="instance_name">Création d'instance</label>
                            <input type="text" class="form-control" id="instance_name" placeholder="Nom de l'instance"
                                   name="instance_name">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Créer une nouvelle instance</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Suppression</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p>
                                Souhaitez-vous réellement supprimer l'utilisateur
                                <span class="modal-confirmation-user-login bg-danger"></span> ?
                            </p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="modal-confirmation-confirmation-button">Confirmer</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}