{% extends "template.html.twig" %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <h3 class="panel-title">{{ user.userLogin }}</h3>
                </div>
                <div class="col-xs-offset-6 col-xs-3">
                    <a href="{{ path('edit_user_id', {id : user.userId}) }}" class="btn btn-block btn-primary">Modifier</a>
                </div>
            </div>

        </div>
        <div class="panel-body">
            <p>Prénom : {{ user.userFirstname }}</p>
            <p>Nom : {{ user.userLastname | upper }}</p>
            <p>Identifiant de connexion : {{ user.userLogin }}</p>
            <p>Email : {{ user.userEmail }}</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Instances</h3>
        </div>
        <table class="table table-hover table-striped">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Participation/Résultat</th>
            </tr>
            {% for participation in participations %}
                {% set instance = instances[participation.participationInstanceId] %}
                <tr>
                    <td>{{ instance.instanceId }}</td>
                    <td>{{ instance.instanceName | capitalize }}</td>
                    {% if drawIsDone[instance.instanceId] %}
                        {% for result in results %}
                            {% if result.resultInstanceId == instance.instanceId and result.resultSenderUserId == user.userId %}
                                <td>{{ users[result.resultRecipientUserId].getUserFirstName }} {{ users[result.resultRecipientUserId].getUserLastName }}</td>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if participation.participationResult == 0 %}
                            <td>
                                <div class="col-sm-6">
                                    <a href="{{ path('instance_join_userId_participationId_participationResult', {user_id: user.userId, participation_id: participation.participationId, participation_result: 1}) }}"
                                       class="btn btn-block btn-success">
                                        <i class="material-icons">check_circle</i>
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="{{ path('instance_join_userId_participationId_participationResult', {user_id: user.userId, participation_id: participation.participationId, participation_result: 0}) }}"
                                       class="btn btn-block btn-danger disabled">
                                        <i class="material-icons">radio_button_unchecked</i>
                                    </a>
                                </div>
                            </td>
                        {% else %}
                            <td>
                                <div class="col-sm-6">
                                    <a href="{{ path('instance_join_userId_participationId_participationResult', {user_id: user.userId, participation_id: participation.participationId, participation_result: 1}) }}"
                                       class="btn btn-block btn-success disabled">
                                        <i class="material-icons">check_circle</i>
                                    </a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="{{ path('instance_join_userId_participationId_participationResult', {user_id: user.userId, participation_id: participation.participationId, participation_result: 0 }) }}"
                                       class="btn btn-block btn-danger">
                                        <i class="material-icons">radio_button_unchecked</i>
                                    </a>
                                </div>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}